<!DOCTYPE HTML>
<html>
    <head>
        <title>List Bakeries</title>
        <h1>All Bakeries</h1>
    </head>

    <body>
        <% @bakeries.each do |bakery| %>
            <h2><%= link_to bakery.name, bakery_path(bakery) %></h2>
        <% end %>
        
    </body>
</html>