/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* customer show page body */
 .customer_body {
     text-align:center;
     background-color: antiquewhite;
 }
/* customer show page header */
 .customer_profile {
    background-image: url("cake.png");
    height: 170px;
    margin: 10px;
    font-size :70px;
    font-weight: bold;
 }

 /* the customer's name  */
 #customer_name {
     color:black;
     font-weight: 5000;
 }

 .bakery_header {
     background-image: url("bakery.jpeg");
     background-position:center;
     color: white;
     height: 130px;
 }

 .bakery_body {
    background-color: antiquewhite;
 }

 .bakery_menu {
     padding: 15px
 }

 .menu_item_body {
    background-color: antiquewhite;
    padding: 15px
 }

 .login {
     text-align: center;
     background-color: antiquewhite;
 }


  /* .header {
    background-image: url("./images/bakery.jpg");
    background-position: center

  } */
